.dataflow-canvas-fullscreen {
  left: 330px;
  height: 100vh;
  position: fixed !important;
  right: 0px;
  background-color: rgb(255, 255, 255, 0.9) !important;
  background-image: linear-gradient(0deg, transparent 70%, rgba(80, 74, 74, 0.15) 72%, transparent 76%),
    linear-gradient(90deg, transparent 70%, rgba(80, 74, 74, 0.15) 76%, transparent 72%);
  background-size: 30px 30px;
}

.dataflow-canvas-popover {
  width: 100%;
  height: 100%;
  min-height: 500px;
  bottom: 15px;
  background-color: rgb(255, 255, 255, 0.9) !important;
  background-image: linear-gradient(0deg, transparent 70%, rgba(80, 74, 74, 0.15) 72%, transparent 76%),
    linear-gradient(90deg, transparent 70%, rgba(80, 74, 74, 0.15) 76%, transparent 72%);
  background-size: 10px 10px;
}

.basic-node {
  border-radius: 5px;
  font-family: Arial;
  color: white;
  border: solid 2px black;
  overflow: visible;
  font-size: 11px;
  box-shadow: 0 0 10px rgba(black, 0.5);
}

.node-title {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  white-space: nowrap;
}

.node-name {
  flex-grow: 1;
  padding: 5px 5px;
}

.preview-icon {
  margin: 6px 3px;
  cursor: pointer;
}

.preview-icon:hover {
  color: rgba(0, 0, 0, 0.2);
}

.ports {
  display: flex;
  justify-content: space-between;
}

.in-port,
.out-port {
  display: flex;
  margin-top: 1px;
}

.in-port-name {
  padding: 0 5px;
}

.out-port-name {
  padding: 0 5px;
  justify-content: flex-end;
  text-align: right;
}

.out-port {
  justify-content: flex-end;
}

.in,
.out {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.35);
}

.in:hover,
.out:hover {
  background: rgba(0, 0, 0, 0.1);
}

.srd-node--selected .srd-node-glow {
  box-shadow: 0 0 30px 20px #ffffff;
}

.srd-circle-node {
  border-radius: 100%;
  line-height: 0.78em;
}

.srd-node--selected {
  box-shadow: 0 0 40px 0 rgba(255, 255, 255, 0.8);
}

.join-node {
  position: 'relative';
  width: 50px;
  height: 50px;
}

.join-svg {
  width: 50px;
  height: 50px;
}

.srd-port {
  width: 20px;
  height: 20px;
  background: rgba(199, 5, 5, 0.1);
}

.circle-port {
  width: 20px;
  height: 20px;
  margin: 2px;
  border-radius: 4px;
  background: #26c6da;
  cursor: pointer;
}

.circle-port:hover {
  background: rgb(47, 172, 189);
}

.srd-port:hover,
.srd-port.srd-port--selected {
  background: #ffffff;
}
