.dataflow-canvas {
  left: 330px;
  height: 100vh;
  background-color: rgb(255, 255, 255, 0.9) !important;
  background-image: linear-gradient(0deg, transparent 70%, rgba(80, 74, 74, 0.15) 72%, transparent 76%),
    linear-gradient(90deg, transparent 70%, rgba(80, 74, 74, 0.15) 76%, transparent 72%);
  background-size: 30px 30px;
}

.srd-node--selected .srd-node-glow {
  box-shadow: 0 0 30px 20px #ffffff;
}

.srd-circle-node {
  border-radius: 100%;
  line-height: 0.78em;
}

.srd-node--selected {
  box-shadow: 0 0 40px 0 rgba(255, 255, 255, 0.8);
}

.join-node {
  position: 'relative';
  width: 50px;
  height: 50px;
}

.join-svg {
  width: 50px;
  height: 50px;
}

.srd-port {
  width: 20px;
  height: 20px;
  background: rgba(199, 5, 5, 0.1);
}

.srd-port:hover,
.srd-port.srd-port--selected {
  background: #ffffff;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(97, 92, 92);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 56, 58);
}
