{{- $current := .Values.gql -}}
{{- $global := .Values.global -}}
{{- if $current.enabled -}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "Gql.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "Gql.fullname" . }}
    helm.sh/chart: {{ include "Gql.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  annotations:
    "sidecar.jaegertracing.io/inject": "false"
spec:
  replicas: {{ $current.replicaCount }}
  selector:
    matchLabels:
      {{- include "Gql.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "Gql.selectorLabels" . | nindent 8 }}
    spec:
    {{- with $current.image.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      containers:
        - name: {{ $current.name }}
          image: "{{ $current.image.repository }}{{ $current.image.name}}:{{ $current.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ $current.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ $current.service.targetPort }}
              protocol: TCP
          resources:
            {{- toYaml $current.resources | trim | nindent 12 }}
          env:
          - name: IS_MULTITENANT
            value: {{ $global.multiTenancy.tenancyType | eq "MultiTenant" | quote }}
          {{- range $key, $value := $current.env }}
          - name: {{ $key }}
            value: {{ $value | quote }}
          {{- end }}
          {{- if $global.runtimeConfiguration.enabled }}
          volumeMounts:
            - name: runtime-configs
              readOnly: true
              mountPath: /usr/src/app/runtime/configs
            {{- if $global.runtimeConfiguration.csi.enabled }}
            - name: runtime-secrets
              readOnly: true
              mountPath: /usr/src/app/runtime/secrets
            {{- end }}
          {{- end }}
      {{- if $global.imagePullSecrets }}
      imagePullSecrets:
      {{- toYaml $global.imagePullSecrets | trim | nindent 8 }}
      {{- end }}
      {{- if $global.runtimeConfiguration.enabled }}
      volumes:
        - name: runtime-configs
          configMap:
            name: {{ $global.runtimeConfiguration.configMap }}
            defaultMode: 420
        {{- if $global.runtimeConfiguration.csi.enabled }}
        - name: runtime-secrets
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: {{ $global.runtimeConfiguration.csi.secretProviderClass }}
        {{- end }}
      {{- end }}
      {{- with $current.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end -}}
